Repository aim-rsf/cprd-data-wrangle, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Internal

.github/labeler.yml:

Documentation:
  - changed-files:
      - any-glob-to-any-file: ['README.md','CONTRIBUTING.md','cprd-code-browser.md']

Internal:
  - changed-files:
      - any-glob-to-any-file: ['.github/*','.all-contributorsrc','.gitignore']
      
# Testing:
#   - changed-files:
#      - any-glob-to-any-file: []

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update config.yml to correct path
  .github/config.yml
Labels: Internal

Update config.yml
  .github/config.yml
Labels: Internal

changed minor wording
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Create CITATION.cff
  CITATION.cff
Labels: none

update MM
  CITATION.cff
Labels: none

adding gif to readme
  README.md
Labels: Documentation

update alt-text
  README.md
Labels: Documentation

'changed notebook_demo filename and link in readme'
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

cite all versions
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update CITATION.cff
  CITATION.cff
Labels: none

Update README.md
  README.md
Labels: Documentation

cleaning notebook 2C, adding rand(), limits, disclaimer in readme
  code-for-aurum/Step2-Notebooks/Step2C-cprd-cohort-notebooks.ipynb
Labels: none

making all three notebooks more consistent
  code-for-aurum/Step2-Notebooks/Step2A-intro-cprd-aurum-synthetic-tables.ipynb
  code-for-aurum/Step2-Notebooks/Step2B-intro-cprd-aurum-synthetic-stats.ipynb
  code-for-aurum/Step2-Notebooks/Step2C-cprd-cohort-notebooks.ipynb
Labels: none

delete repitition
  README.md
Labels: Documentation

Update LICENSE
  LICENSE
Labels: none

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation
